---
import "selo-components/common.css"; // has to be above site-specific css

import WordForm from "@/components/WordForm.svelte";
import "@/global.css";
import { Layout } from "selo-components";
---

<Layout title="add" description="">
  <WordForm client:only="svelte" />
  <p>
    <b>Warning!</b> This is a prototype and currently <i>does not</i> send your translations
    anywhere.
  </p>
</Layout>
