:root {
    --accent: #508e00;
    --accent-1: #375300;
}
.dark {
    --accent: #87c200;
    --accent-1: #b7e178;
}

/*
ol {
    padding-left: 20px;
}
ul {
    padding-left: 0px;
    border-left: 2px dotted var(--grey);
    margin: 7px 0px;
    display: flex;
    flex-direction: column;
}
ul > li {
    list-style-type: none;
    padding: 5px 15px;
}
ul > li:nth-child(odd) {
    background-color: var(--bg-1);
}*/

/*}*/

#search {
    text-align: center;
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 120%;
    background-color: #0000;
    color: unset;
    border: 2px solid var(--grey-1);
}
h2 {
    color: var(--accent);
}
